POSTGRES_USER=goapi_user
POSTGRES_PASSWORD=goapi_password
POSTGRES_DB=goapi
PGADMIN_DEFAULT_EMAIL=admin@goapi.com
PGADMIN_DEFAULT_PASSWORD=admin
JWT_SECRET=change_this_to_a_secure_random_string_in_production
DEMO_WIDGET_TOKEN=
DEMO_WIDGET_TENANT_ID=
DEMO_WIDGET_ID=
DEMO_ADMIN_TOKEN=
AI_INTEGRATIONS_OPENAI_API_KEY=
AI_INTEGRATIONS_OPENAI_BASE_URL=
AI_INTEGRATIONS_OPENAI_MODEL=
API_BASE_URL=http://api:8080
